.App{
  position: absolute;
width: 25%;
height: 1084px;
left: 0px;
top: 0px;
float: left;
/* overflow: hidden; */
background: #FF6C40;
}

.first{
  position: absolute;
width: 100%;
height: 82px;
left: 0px;
top: 7px;

background: #FFC480;
}
.second{
  position: absolute;
  width: 100%;
  height: 82px;

  top: 89px;
  
}
.third{
  position: absolute;
width: 100%;
height: 82px;
/* left: 0px; */
top: 171px;

}
/* #box{

position: absolute;
width: 36px;
height: 36px;
left: 30px;
top: 30px;

background: #FFFFFF;
}

#box1{
  position: absolute;
  width: 44px;
  height: 36px;
  left: 22px;
  top: 122px;
  
  background: #FFFFFF;
}

#box2{
  position: absolute;
width: 35.02px;
height: 36px;
left: 30.49px;
top: 210px;

background: #FFFFFF;
} */
.dash {
  position: relative;
width: 70%;
height: 36px;
left: 30%;
top: 30px;

font-family: SF Pro Display;
font-style: normal;
font-weight: bold;
font-size: 2.8vw;
line-height: 36px;

/* identical to box height */

color: #FFFFFF;
}
